*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, body {
    margin: 0;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header start */

header {
    border: 2px solid black;
    height: 100%;
    position: relative;
}

.header__inner {
    height: 150px;
}

.header__logo {
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
    float: left;
}

.navigation {
    position: absolute;
    right: 0;
    bottom: 0;
}

.navigation a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: blue;
    padding-right: 20px;
    font-family: 'Oxygen', sans-serif;
}

/* Header end */
/* Body start */

.body-content {
    float: left;
    max-width: 80%;
}

.left-side-block {
    float: left;
    max-width: 20%;
}

@media (max-width: 1200px) {
    .main-container {
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .main-container {
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .main-container {
        max-width: none;
    }
    .header__logo {
        font-size: 25px;
    }
    .navigation {
        position: relative;
        text-align: center;
    }
    .left-side-block {
        display: none;
    }
    .body-content {
        max-width: 100%;
    }
}
